/* general */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  width: 98%;
  margin: 0 auto;
  max-width: 1200px;
}

body{
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

.flex{
  display: flex;
}

.white{
  padding: 50px;
}

.gray{
  background-color: #F6F6F6;
  padding: 50px;
}

.black{
  background-color: #23272A;
  padding: 20px;
}

/* header */

header{
  background-color: #255EE9;
}

.box-header{
  align-items: center;
  height: 100px;
  justify-content: space-between;
}

.menu li{
  list-style: none;
  display: inline;
  margin: 20px;
}

.menu li a{
  text-decoration: none;
  color: white;
}

.button{
  padding: 10px 10px;
  border-radius: 20px 20px;
  background-color: white;
  margin-right: 20px;
}

.button a{
  text-decoration: none;
  color: black;
}

.button:hover{
  cursor: pointer;
  background-color: #81a1f3;
}

/* /header */


/* ----------------main---------------- */


  /* jumbotron */

.jumbotron{
  background-image: url(../img/jumbo.png);
  background-size: cover;
  padding: 70px;
  height: 520px;
}

.paragrafo{
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
}

.box-sec{
  text-align: center;
}

.box-sec h1{
  font-size: 3rem;
  color: white;
  padding-top: 30px;
}

.box-sec .graph{
  font-size: 1.3rem;
  padding: 40px 150px;
}

.box-sec .download, .open{
  padding: 20px 30px;
  border-radius: 30px 30px;
}

.box-sec .open{
  background-color: black;
}

.box-sec .open a{
  color: white;
}

.graph{
  line-height: 30px;
}

    /* /jumbotron */

    /* img-text section */

.img-text{
  padding-right: 90px;
  padding-top: 50px;
  margin: 20px;
}

.image{
  width: 50%;
}

.text{
  width: 50%;
  padding-top: 35px;
  color: black;
}

.text p{
  padding-top: 20px;
  padding-right: 150px;
}

.sec-title{
  font-size: 3rem;
  font-weight: 600;
}

    /* img-text section */

    /* jumbo section */

.text-jumbo{
  text-align: center;
  color: black;
}

.text-jumbo span,p{
  padding-top: 50px;
}

.text-jumbo p{
  margin:0px 150px;
}

.btn{
  display: block;
}

.btn a{
  text-decoration: none;
  background-color:#7289DA ;
  padding: 20px 30px;
  border-radius: 30px 30px;
  color: #F6F6F6;
}

.bottom-section h2{
  padding-top: 15px;
  background-image: url(../img/stars.svg);
  background-size: 500px;
  background-position: 350px -5px;
  background-repeat: no-repeat;
  height: 100px;
}

    /* /jumbo section */

/* ----------------/main---------------- */

/* footer */

.box-footer{
  padding: 30px 0;
}

.social{
  width: 25%;
  padding-right: 80px;
}

.social h2{
  padding-bottom: 20px;
}

.social img{
  width: 10%;
}

.social i{
  margin-top: 10px;
  margin-right: 15px;
}

.menu-box{
  width: 75%;
}

.box-footer .col{
  flex-basis: 25%;
}

.menu-box li{
  list-style: none;
  padding-bottom: 20px;
}

.menu-box li a{
  text-decoration: none;
  color: white;
}

.list-title{
  color: #7289DA;
}

.bottom-button{
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid lightslategray;
  height: 100px;
}

.bottom-button .registrati{
  background-color:#7289DA;
}

.registrati a{
  color: white;
}